$white: #DCD8D3;
$bgGrey: rgba(30, 32, 39, 0.7);
$bgBlack: #13161d;
$bodyBlack: #12141B;
$buttonBgBlack: #181B22;
$selectBgBlack: #202128; // opacity: 50%
$textGrey: #8C8988;
$orange: rgb(207, 123, 90);

$text: 0.875rem;
$searchText: 1rem;
