@import "../../styles/variables";
@import "../../styles/normalize";
@import "../../styles/font";

* {
  overflow-x: clip;
}

.container {
  width: 100%;
  max-width: 1312px;
  height: 604px;
  background-color: $bgBlack;
  border-radius: 16px;

  .header {
    display: flex;
    height: 53px;
    line-height: 50px;
    color: $textGrey;

    th {
      font-weight: 400;
    }
  }
}

table {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  overflow: clip;
  text-align: left;
  font-size: $text;
}

.tableResponsive {
  width:  100%;
  height: 100%;
  white-space: nowrap;
  
  @media (max-width: 1285px) {
    overflow-x: auto;
  }

  th:nth-child(1), td:nth-child(1) {
    min-width: 260px;
    padding: 0 8px;
  }
  th:nth-child(2), td:nth-child(2) {
    min-width: 139px;
    padding-left: 8px;
  }
  th:nth-child(3), td:nth-child(3) {
    min-width: 270px;
    padding-left: 8px;
  }
  th:nth-child(4), td:nth-child(4) {
    min-width: 89px;
    padding-left: 8px;
  }
  th:nth-child(5), td:nth-child(5) {
    min-width: 100px;
    padding-left: 39px;
  }
  th:nth-child(6), td:nth-child(6) {
    min-width: 102px;
    padding-left: 8px;
  }
  th:nth-child(7), td:nth-child(7) {
    min-width: 132px;
    padding-left: 8px;
  }
}

.row {
  display: flex;
  min-width: 1000px;
  height: 53px;
  margin: 0 0 0.5rem;
  padding: 0 8px;
  border-radius: 12px;
  border: 1px solid rgba(207, 123, 90, 0.2);

  .profile{
    display: flex;

    .imgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 13px;

      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid $orange;
      }
    }

  }

  p {
    font-weight: 600;
    color: $white;
    display: flex;
    align-items: center;
  }

  td {
    display: flex;
    align-items: center;
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
