@import "../../styles/variables";
@import "../../styles/normalize";

.container{
  width: 896px;
  height: 496px;
  background-color: $bgBlack;
  border-radius: 16px;
  color: $white
}

.header{

}

.table{

}
